spacy  
confection  
vllm  
transformers  
fschat  
ray  
openai  
torchvision  
sentence_transformers  
matplotlib  
accelerate  
datasketch  
pandas  
diffusers  
openai-clip  
omegaconf  
iopath  
timm  
opencv-python  
webdataset  
scikit-image  
visual-genome  
peft  
decord  
wandb  
